<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppTwo</title>
    <link rel = 'stylesheet' href = "{% static 'css/mystyle.css' %}" />

</head>
<body>
    <h1> I am at level 2</h1>
    <p> Here are your access record</p>
    <div class="django">
        {% if access_records %}
        <table>
            <thead>
            <th>Site Name </th>
            <th>Data Access</th>
            </thead>
        {% for ac in access_records %}
        <tr>
            <td> {{ac.name}}</td>
            <td> {{ac.date}}</td>
        </tr>
                    {% endfor %}
                    </table>

            {% else %}
            <p> NO ACCESS RECORD</p>

                {% endif %}


    </div>

</body>
</html>